* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

#left {
	width: 50%;
	height: 100vh;
	background: white;
}

#right {
	width: 50%;
	height: 100vh;
	background: #5fdde5;
	position: absolute;
	top: 0;
	right: 0;
}

#img {
	width: 350px;
	position: absolute;
	top: 30%;
	right: 20%;
}

#img img {
	width: 100%;
	height: auto;
}

#nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	display: flex;
}

#nav #logo {
	width: 30%;
	height: 100%;
	padding-left: 10%;
}

#nav #logo h1 {
	line-height: 80px;
	text-transform: uppercase;
	color: #5fdde5;
}

#nav #menu1 {
	width: 40%;
	height: 100%;
}

#nav #menu1 ul {
	list-style-type: none;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	padding: 0 25%;
}

#nav #menu1 ul li {
	line-height: 80px;
	text-transform: uppercase;
}

#nav #menu2 {
	width: 30%;
	height: 100%;
}

#nav #menu2 ul {
	list-style-type: none;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	padding-left: 40%;
	padding-right: 25%;
}

#nav #menu2 ul li {
	line-height: 80px;
}

#content {
	position: absolute;
	top: 220px;
	left: 10%;
	width: 30%;
}

#content h1 {
	font-size: 45px;
	letter-spacing: 4px;
}

#content p {
	letter-spacing: 2px;
}

#content button {
	margin-top: 30%;
	width: 180px;
	height: 30px;
	border: 0;
	background: #5fdde5;
	text-transform: uppercase;
}

#media {
	width: 210px;
	height: 50px;
	position: absolute;
	left: 10%;
	bottom: 20px;
}

#media ul {
	list-style-type: none;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}

#media ul li {
	width: 50px;
	height: 50px;
	background: #5fdde5;
	text-align: center;
	line-height: 50px;
	border-radius: 50%;
	transition: .5s;
}

#media ul li:hover {
	background: #000;
	color: #fff;
	cursor: pointer;
}

#body-left {
	width: 50%;
	height: 100vh;
	background: white;
}

#body-right {
	width: 50%;
	height: 100vh;
	background: #5fdde5;
	position: absolute;
	top: 640px;
	left: 0;
}

.body-right {
	position: absolute;
	top: 700px;
	right: 10%;
	width: 30%;
}

#face-left {
	width: 50%;
	height: 100vh;
	background: white;
}

#face-right {
	width: 50%;
	height: 100vh;
	background: #5fdde5;
	position: absolute;
	top: 1280px;
	right: 0;
}

.face-left {
	position: absolute;
	top: 1300px;
	left: 10%;
	width: 30%;
}

#hand-left {
	width: 50%;
	height: 100vh;
	background: white;
}

#hand-right {
	width: 50%;
	height: 100vh;
	background: #5fdde5;
	position: absolute;
	top: 1920px;
	left: 0;
}

.hand-right {
	position: absolute;
	top: 1940px;
	right: 10%;
	width: 30%;
}

#img1 {
	width: 750px;
	position: absolute;
	top: 140%;
	left: 20%;
}

#img1 img1 {
	width: 100%;
	height: auto;
}

#img2 {
	width: 20px;
	position: absolute;
	top: 250%;
	right: 30%;
}

#img2 img2 {
	width: 20%;
	height: auto;
}

#img3 {
	width: 20px;
	position: absolute;
	top: 350%;
	left: 20%;
}

#img3 img3 {
	width: 20%;
	height: auto;
}

#i3 {
	color: darkblue;
	font-family: monospace;
}

#i2 {
	color: red;
	font-style: oblique;
	font-size: 30px;
}

#i1 {
	font-family: serif;
	color: black;
	font-size: 20px;
}

.head1 {
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.head2 {
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.head3 {
	font-family: "Comic Sans MS", cursive, sans-serif;
}

input[type=text] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 2px solid #5fdde5;
	border-radius: 4px;
}

input[type=number] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 2px solid #5fdde5;
	border-radius: 4px;
}

input[type=textarea] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 2px solid #5fdde5;
	border-radius: 4px;
}

.btn {
	background-color: #5fdde5;
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 2px;
}

footer {
	position: relative;
	top: 2550px;
	text-align: center;
	padding: 30px;
	background-color: #5fdde5;
	color: white;
}

#b1 {
	font-family: cursive;
}

#b2 {
	font-family: cursive;
}

#b3 {
	font-family: cursive;
}